.timeline-chart .axis path {
  fill: none;
  stroke: none; }

.timeline-chart line {
  stroke: black; }

.timeline-chart .vertical-marker {
  stroke-width: 1; }

.timeline-chart rect, .timeline-chart rect.chart-bounds {
  fill: transparent; }

.timeline-chart rect.chart-bounds:hover, .timeline-chart rect.interval:hover {
  cursor: -webkit-grab;
  cursor: grab; }

.timeline-chart rect.chart-bounds:active, .timeline-chart rect.interval:active {
  cursor: -webkit-grabbing;
  cursor: grabbing; }

.timeline-chart .dot:hover {
  cursor: pointer; }

.timeline-chart .interval-text {
  pointer-events: none; }

.timeline-chart rect.interval {
  ry: 5;
  rx: 5;
  fill: #f0ff004d;
  stroke: #2b2b2b; }
  
circle.dot {
	fill: red;
}
