#centralWidget {
    background-color: _dark_;
    padding-top: 2px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    border: 2px solid _back_;
    border-radius: 10px;
}

    #centralWidget:hover {
        border: 2px solid _front_;
    }

QToolButton {
    border: 2px solid _back_;
    border-radius: 10px;
    background-color: qlineargradient(spread:pad, x1:0.9, y1:1, x2:0.1, y2:0, stop:0.4 _dark_, stop:1 _light_);
}

    QToolButton:hover {
        background-color: qlineargradient(spread:pad, x1:0.9, y1:1, x2:0.1, y2:0, stop:0.4 _dark_, stop:1 _light_);
        border-color: _front_;
    }

    QToolButton:pressed {
        background-color: qlineargradient(spread:pad, x1:0.1, y1:0, x2:0.9, y2:1, stop:0.4 _dark_, stop:1 _light_);
    }

QLineEdit, QSpinBox, QTextEdit {
    font-family: 'Trebuchet MS';
    font-size: 13px;
    color: _front_;
    border: 2px solid _back_;
    border-radius: 10px;
    background-color: qlineargradient(spread:pad, x1:0.9, y1:1, x2:0.1, y2:0, stop:0.4 _dark_, stop:1 _light_);
}

    QLineEdit:hover, QSpinBox:hover, QTextEdit:hover {
        background-color: qlineargradient(spread:pad, x1:0.9, y1:1, x2:0.1, y2:0, stop:0.4 _dark_, stop:1 _light_);
        border-color: _front_;
    }

    QLineEdit:pressed, QSpinBox:pressed, QTextEdit:pressed {
        background-color: qlineargradient(spread:pad, x1:0.1, y1:0, x2:0.9, y2:1, stop:0.4 _dark_, stop:1 _light_);
    }

    QToolButton:disabled, QLineEdit:disabled, QSpinBox:disabled, QTextEdit:disabled {
        background-color: _dark_;
    }

QLabel {
    font-family: 'Trebuchet MS';
    font-size: 13px;
    color: _front_;
}

QFrame[frameShape = "5"] {
    background-color: _back_;
    border-style: solid;
    border-color: _back_;
    border-width: 2px;
}